@mixin message-style($bg: #888) {
  background: $bg;

  &:hover {
    background: darken($bg, 10%);
  }
}

.msg {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.25rem;
  margin: 1em 0;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  @include message-style();

  h1 {
    margin: 0 0 0.2em 0;
  }
}

.msg-info {
  @include message-style(#2aa198);
}

.msg-warning {
  @include message-style(#f1c40f);
}

.msg-danger {
  @include message-style(#e74c3c);
}