$primary-color: #02342c;
$secondary-color: #c9a96f;

body {
    font-family: Arial, sans-serif;
}

h1, h3 {
    color: $primary-color;
}

.navbar {
    background-color: $primary-color !important;
}

footer {
    background-color: $primary-color !important;
}